.navbar {
	align-items: center;

	&-item,
	&-link {
		padding: 0;
	}

	&-item {
		&.logo {
			@include touch {
				margin-right: auto;
				margin-left: auto;
			}
		}
	}

	&-brand {
		@include touch {
			align-items: center;
			justify-content: space-between;
		}
	}

	&-burger {
		margin-left: 0;
		@include size(rem(28));
		order: -1;

		span {
			@include size(rem(28), rem(2.5));
			left: 0;

			&:nth-child(1) {
				top: calc(50% - 10px);
			}

			&:nth-child(2) {
				top: calc(50% - 1px);
			}

			&:nth-child(3) {
				top: calc(50% + 8px);
			}

		}

		&.active {
			span {
				&:nth-child(1) {
					top: calc(50% - 1px);
					transform: rotate(45deg);
				}

				&:nth-child(2) {
					opacity: 0;
				}

				&:nth-child(3) {
					top: calc(50% - 1px);
					transform: rotate(-45deg);
				}
			}
		}
	}

	&-menu {
		justify-content: flex-end;
	}

	&__search {
		&.is-active {
			flex-basis: 100%;

			.navbar-item {
				width: 80%;
			}
		}

		.navbar-item {
			margin-left: 2rem;

		}

		.button--icon {

			.icon--close {
				display: none;
			}

			&.active {
				.icon--search {
					display: none;
				}

				.icon--close {
					display: block;
				}
			}
		}
	}
}
